# Pandas

Indien pandas nog niet geinstalleerd is, voer onderstaande codecell uit.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jens.baetens3\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jens.baetens3\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jens.baetens3\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jens.baetens3\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jens.baetens3\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\jens.baetens3\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)


De twee belangrijkste gegevensstructuren in Pandas zijn de Series en de DataFrame.

Een Series in Pandas is een één-dimensionale array-achtige structuur die een lijst van waarden bevat, samen met een index die aan elke waarde is gekoppeld. Je kunt een Series maken vanuit een Python-lijst of een NumPy-array. Bijvoorbeeld:

In [3]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5]) # een series is 1 kolom in een dataframe
# als je het uitprint zie je twee kolommen: het eerste is de index (sql: primary key), het tweede zijn de values
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

Hier wordt een Series s gemaakt met de waarden 1 tot 5. Standaard wordt een numerieke index van 0 tot 4 gebruikt, maar je kunt ook een aangepaste index specificeren:

In [4]:
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
s.values # enkel de values uit de series halen
s.index # enkel de index
s['b']  # met de index kan je filteren om er waarden uit te halen

np.int64(2)

In dit voorbeeld heeft elke waarde in de Series nu een corresponderende letterindex in plaats van een numerieke index. Dit maakt Series krachtig omdat je kunt werken met labels in plaats van alleen met posities.

De DataFrame is de meest gebruikte structuur in Pandas. Een DataFrame is een tweedimensionale tabel die lijkt op een spreadsheet of een SQL-tabel. Het bestaat uit rijen en kolommen, waarbij elke kolom een Series is. Een DataFrame kan worden gemaakt uit verschillende bronnen, zoals een dictionary van lijsten of een NumPy-array. Bijvoorbeeld:

In [16]:
data = {'Naam': ['Alice', 'Bob', 'Charlie'], 'Leeftijd': [25, 30, 35]}
df = pd.DataFrame(data)
display(df) # het hele dataframe uitprinten (display toont een dataframe mooier dan een eenvoudige print)
df.Naam # een kolom selecteren
df = df.set_index("Naam")  # index veranderen kan met df.index of met set_index om een bepaalde kolom in te stellen als index
display(df)

df.loc['Bob']  # met loc kan je in de index gaan zoeken, anders werkt het op kolommen -> loc werkt met de index
df.iloc[0] # met iloc kan je werken met getallen -> geef me de eerste rij

# als er meer kolommen zijn kan je ook de bovenstaande manieren gebruiken om kolommen te selecteren -> df.loc['Bob', 'Leeftijd']   of df.iloc[0,0]

      Naam  Leeftijd
0    Alice        25
1      Bob        30
2  Charlie        35

         Leeftijd
Naam
Alice          25
Bob            30
Charlie        35

Leeftijd    25
Name: Alice, dtype: int64

In dit voorbeeld wordt een DataFrame df gemaakt met twee kolommen: Naam en Leeftijd. De waarden van deze kolommen zijn afkomstig uit de dictionary data. De DataFrame-structuur biedt tal van functies voor het manipuleren, selecteren en bewerken van gegevens. Bijvoorbeeld, je kunt toegang krijgen tot een specifieke kolom met:

In [ ]:
namen = df['Naam']

Dit retourneert een Series met de waarden in de kolom Naam. Je kunt ook rijen selecteren op basis van hun positie met de .iloc[]-methode of op basis van hun index met .loc[].

Een ander krachtig aspect van Pandas is de mogelijkheid om bewerkingen uit te voeren op kolommen. Bijvoorbeeld, je kunt een nieuwe kolom toevoegen aan een DataFrame door een wiskundige operatie toe te passen op bestaande kolommen:

In [20]:
df['Leeftijd_plus_5'] = df['Leeftijd'] + 5 # leeftijd plus 5 bestaat niet -> dan wordt de kolom toegevoegd
display(df)

df.max()        # default axis voor max is 0 -> per kolom
df.max(axis=1)  # met axis kunnen we gaan kijken per rij

         Leeftijd  Leeftijd_plus_5
Naam
Alice          25               30
Bob            30               35
Charlie        35               40

Naam
Alice      30
Bob        35
Charlie    40
dtype: int64

Hier wordt een nieuwe kolom toegevoegd aan df genaamd Leeftijd_plus_5, die de waarden in de kolom Leeftijd verhoogt met 5.

In [23]:
df2 = df.drop('Leeftijd_plus_5', axis=1) # kolom verwijderen heeft axis 1 nodig, er wordt een nieuw dataframe steeds gereturned bij elke operaties
df2

         Leeftijd
Naam
Alice          25
Bob            30
Charlie        35

In [24]:
df.drop('Leeftijd_plus_5', axis=1, inplace=True) # wil je toch dat het dataframe zelf aangepast wordt -> gebruik het inplace keyword

In [25]:
df

         Leeftijd
Naam
Alice          25
Bob            30
Charlie        35